<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503936446746-tt8cqh12ll75nhh8hk5g468stnurkol7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503936446746-tt8cqh12ll75nhh8hk5g468stnurkol7</string>
	<key>API_KEY</key>
	<string>AIzaSyD8pJcgk0NzXsRMVmcCsPSWsT8bK-ZEQNU</string>
	<key>GCM_SENDER_ID</key>
	<string>503936446746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anilk98891.anilQuiz</string>
	<key>PROJECT_ID</key>
	<string>flutter-f0bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-f0bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503936446746:ios:aa53cbdc2bb1c9fd7dbca3</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-f0bb7.firebaseio.com</string>
</dict>
</plist>